.icon-red {
	color: red;
}

.icon-grey {
	color: grey;
}

.icon-green {
	color: green;
}

.icon-orange {
	color: orange;
}

@media (min-width: 768px) {
.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}